.comment-form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.comment-form-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
