.loadingBar {
    width:80px;
    height:80px;
    border:8px solid #fcd779; /*circle color*/
    border-top:8px solid white; /*Highlighted color*/
    border-radius:50%;

/*Animation code for older Chrome, Safari, Opera*/
-webkit-transition-property: -webkit-transform;
-webkit-transition-duration: 1.2s;
-webkit-animation-name: rotate;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;

/*Animation code for older Firefox*/
-moz-transition-property: -moz-transform;
-moz-animation-name: rotate; 
-moz-animation-duration: 1.2s; 
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;

/*Default animation code*/
transition-property: transform;
animation-name: rotate; /*Call to @keyframe rule*/
animation-duration: 1.2s; /*Change to speed up or slow down the animation*/
animation-iteration-count: infinite; /*Make the animation go forever*/
animation-timing-function: linear;
}

/*keyframes rule for older Chrome, Safari, Opera*/
@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

/*keyframes rule for older Firefox version*/
@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

/*Default @keyframes rule*/
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}