.dashboard-container {
  min-height: 100%;
  background-image: linear-gradient(
    to right top,
    #1a3d7c,
    #195d9c,
    #1f7fbb,
    #31a2d7,
    #4cc5f1
  );
  text-align: center;
}
.title {
  color: white;
}
.p {
  color: white;
}
.list-container {
  width: 30%;
  margin: 20px 50px 20px;
  padding: 20px;
  background-color: #1a3d7c;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Table styles */
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:hover {
  background-color: #4caf50;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008528;
  color: white;
}
